body{
    margin: 0;
    width: 100%;
}

header{
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: #4682B4;
    margin-bottom: auto;
    color: white;
    padding: 2% 0%;
}

main{
    width: 67.6%;
    vertical-align: top;
    padding-left: 1%;
    padding-bottom: auto;
    height: 100%;
    background-color: #FFFFFF;
}   

aside{
    margin-top: 1.4%;
    width: 29%;
    vertical-align: top;
    padding-left: 1%;
    padding-bottom: auto;
    height: 100%;
    background-color: #4682B4;
    color: white;
}

footer{
    text-align: center;
    vertical-align: top;
    padding: 1% 0;
    width: 100%;
    height: 100%;
    background-color: #4682B4;
}

.img{
    vertical-align: top;
    float: left;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 50%;
}

.avatar{
    display: inline-block;
    width: 20%;
    height: 20%;
    border-radius: 70%;
}

.emLinha{
    display: inline-block;
}

.destacado{
    background-color: #4682B4;
    height: 100%;
    margin-bottom: auto;
    color: #FFFFFF;
    padding: auto;
}

.justificado{
    text-align: justify;
}

.centralizar{
    text-align: center;
}

.sublinhadoECentralizado{
    text-align: center;
    text-decoration: underline;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #B0C4DE;
}